<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.koreait.community.board.BoardMapper">
	<insert id="insBoard" useGeneratedKeys="true" keyProperty="boardPk">
		INSERT INTO t_board
		(category, seq, title, ctnt, userPk)
		SELECT #{category}, IFNULL(MAX(seq), 0)+1, #{title}, #{ctnt}, #{userPk}
		FROM t_board
		WHERE category = #{category}
	</insert>
	<select id="selBoardList" resultType="BoardDomain">
		select 
			A.boardPk, A.userPk, A.seq, A.title, A.hits
			, A.regDt, B.nm as writerNm
		from t_board A
		inner join t_user B
		on A.userPk = B.userPk
		where A.category = #{category}
		and A.isDel = 0
		order by A.boardPk desc;
	</select>
	<select id="selBoard" resultType="BoardDomain">
		select 
			A.boardPk, A.userPk, A.category, A.seq, A.title, A.ctnt, A.hits
			, A.regDt, B.nm as writerNm
		from t_board A
		inner join t_user B
		on A.userPk = B.userPk
		where A.boardPk = #{boardPk}
	</select>
	<update id="updBoard">
		update t_board
		<set>
			<choose>
				<when test="hits == 1">
					hits = hits + 1
				</when>
				<otherwise>
					<if test="title != null and title != ''">
						title = #{title},
					</if>
					<if test="ctnt != null and ctnt !=''">
						ctnt = #{ctnt},
					</if>
					<if test="isDel == 1">
						isDel = 1,
					</if>
					modDt = now()
				</otherwise>
			</choose>
		</set>
		where boardPk = #{boardPk}
		<if test="userPk > 0">
			and userPk = #{userPk}
		</if>
	</update>
</mapper>